.background-images {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

#about-image-1 {
    position: absolute;
    top: 10vh;
    left: 0;
}

#about-image-2 {
    position: absolute;
    top: 30vh;
    left: 0;
}

#about-image-3 {
    position: absolute;
    top: 75vh;
    left: 0;
}

main {
    width: 100%;
}

.container-text-about {
    font-size: 2em;
    line-height: 1;
}

div.container-text-about {
    border: none;
}


.highlight {
    color: blue;
    font-style: italic;
}

.about-bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
    -webkit-background-size: 100vw;
    -moz-background-size: 100vw;
    -o-background-size: 100vw;
    background-size: 100vw;
    /* Multiple options for this, try cover ^^ */   
}

@supports (-webkit-overflow-scrolling: touch) {
    .about-bg-img {
        background-attachment: scroll;
        background-size: 100vw;
        /* background-size: cover; */
    }
}

.about-bg-img-1 {
    background-image: url(../images/about-image-1.jpg);
}

.about-bg-img-2 {
    background-image: url(../images/about-image-2.jpg);
}

.about-bg-img-3 {
    background-image: url(../images/about-image-3.jpg);
}

.about-bg-img-4 {
    background-image: url(../images/about-image-4.jpg);
}

.about-bg-img-5 {
    background-image: url(../images/about-image-5.jpg);
}

.about-bg-img-6 {
    background-image: url(../images/about-image-6.jpg);
}

.about-bg-img-7 {
    background-image: url(../images/about-image-7.jpg);
}

.about-bg-img-8 {
    background-image: url(../images/about-image-8.jpg);
}

.about-bg-img-9 {
    background-image: url(../images/about-image-9.jpg);
}

.about-bg-img-10 {
    background-image: url(../images/about-image-10.jpg);
}

.about-bg-img-11 {
    background-image: url(../images/about-image-11.jpg);
}