.background-images {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
}

.hidden {
    visibility: hidden;
}

#about-image-1, #about-image-2, #about-image-3, #about-image-4, #about-image-5, #about-image-6, #about-image-7, #about-image-8, #about-image-9, #about-image-10, #about-image-11 {
    position: absolute;
    top: 0;
    left: 0;
}

main {
    width: 100%;
}

.container-text-about {
    font-size: 2em;
    line-height: 1;
}

div.container-text-about {
    border: none;
}


.highlight {
    color: blue;
    font-style: italic;
}