video {
    height: 100vh;
    width: 100%;
    position: fixed;
    bottom: 7.5vh;
    left: 0;

    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -o-object-fit: cover;
    object-fit: cover;
}