.container-projects {
    background-color: rgba(250, 250, 250, 1);
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: white solid 1px;
}

.container-projects h2 {
    text-align: left;
    padding-left: 2.5%;
}

.carousel-content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}