@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
    color: black;
    background-color: rgb(225,225,225);
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

.container-background {
    height: 100vh;
    width: 100%;
    position: relative;
}

.row {
    margin: 0 auto;
}

.col {
    padding: 0;
}

.row-nav {
    height: 7.5vh;
    width: 100%;

    background-color: rgba(250, 250, 250, 0.9);
    border: rgb(225,225,225) solid 2px;
}

.row-nav-top {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;
}

.row-nav-bottom {
    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;

    color: black;

    font-size: 1em;

    padding-left: 0.25em;
    padding-right: 0.25em;
}

.nav:hover {
    text-decoration: none;
    color: blue;
    font-style: italic;
}

.nav-active {
    font-weight: 700;
}

.nav-izi, .nav-home {
    align-content: flex-start;
}

.nav-projects, .nav-contact {
    align-content: flex-end;
}

button {
    background-color: white;
}

.container-text, .container-image, button {
    padding: 0;
    margin: 2.5% auto;
}

div.container-text {
    background-color: rgba(250, 250, 250, 0.5);
    border: solid 2px white;
}

.image {
    padding: 0;
    overflow: hidden;
}

img.image {
    width: 100%;
}

p {
    margin: 0;
}

.object-top {
    margin-top: 9vh;
}

.object-bottom {
    margin-bottom: 9vh;
}